@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 40px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

label{
    display: flex;
}

.formulario{
    background-color: rgb(252, 141, 141);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 10px;
    height: fit-content;
    width: fit-content;
    
    
}

.agrupamento input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    
    top: 10;
    left: 10;   
    height: 21.5px;
    width: 21.5px;
    background-color: rgb(190, 189, 189);
    cursor: pointer;
}

.agrupamento:hover input~.checkmark {
    background-color: #ccc;
}

.agrupamento input:checked~.checkmark {
    background-image: url("../image/X.png") !important;
    background-size: cover;
    background-position: center;
    background-color: red;
}

.agrupamento:after {
    content: "";
   
    display: none;
}

.agrupamento input:checked~.checkmark:after {
    display: block;
}

.agrupamento .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

textarea {
     border-radius: 6px;
     border: none;
     height: 80px;
     width: 200px;
}

.btn{
    border-radius: 20px;
    width: 90px;
    height: 40px;
    color: white;
    background-color: rgb(164, 19, 19);
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 3%;
    font-size: 16px
}

.separa_btn{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.btn:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}